@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>@Html.ActionLink("See All Tickets","../Tickets/index")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project Manager</h2>
        <p>
           @Html.ActionLink("See All Tickets","../Tickets/index")
        </p>
        @*<p>@Html.ActionLink("Creat a ticket","../ticket/create", new {  })</p>*@
    </div>
    <div class="col-md-4">
        <h2>Developer</h2>
        <p>Find your tickets here</p>
        <p>@Html.ActionLink("Your Developer Tickets", "../Tickets/DeveloperTicketList")</p>
    </div>
    <div class="col-md-4">
        <h2>Submitter</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("Your created tickets", "../Tickets/SubmitterTicketList")</p>
    </div>
</div>